

<div class="jumbotron">
  <h2><%= gettext "Hello Controller %{name}", name: "Phoenix!" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
